.input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;

    label { margin-left: 5px }

    input,select {
        background-color: #e7e7e7;
        border-radius: 6px;
        border: 1px #dfdfdf solid;
        padding: 4px 6px;
        transition: box-shadow 0.2s;

        &::placeholder { color: #aaaaaa }

        &:focus { box-shadow: 0px 0px 1px 2px #c2c2c2 }
    }

    // &.text{}

    &.number {
        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &.select {
        select { &:focus { border-radius: 6px 6px 0 0 } }
    }
}