.btn {
    align-items: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
    gap: 4px;
    justify-content: center;
    padding: 4px 6px;
    text-align: center;
    transition: 
        background-color 0.2s,
        border-color 0.2s,
        color 0.2s,
    ;

    // DISABLED 
    $disabled-bg : #e7e7e7;
    $disabled-border : #e2e2e2;
    $disabled-clr : #d1d1d1;
    &:disabled { cursor: default }

    // WIDTH
    &.w4 { width: 4em; padding: 4px 0 }
    &.w5 { width: 5em; padding: 4px 0 }
    &.w6 { width: 6em; padding: 4px 0 }
    &.w7 { width: 7em; padding: 4px 0 }
    &.w8 { width: 8em; padding: 4px 0 }
    &.w9 { width: 9em; padding: 4px 0 }
    &.w10 { width: 10em; padding: 4px 0 }

    // COLORS
    &.primary {
        background-color: #202020;
        border-color: #202020;
        color: #f0f0f0;
        
        &:hover {       background-color:   #404040;
                        border-color:       #404040;
                        color:              #f0f0f0;   }

        &:active {      background-color:   #6b6b6b;
                        border-color:       #6b6b6b;
                        color:              #f0f0f0;   }

        &:disabled {    background-color:   $disabled-bg;
                        border-color:       $disabled-border;
                        color:              $disabled-clr;   }
    }

    &.white {
        background-color: #fff;
        border-color: #fff;
        color: #202020;
        
        &:hover {       background-color:   #f0f0f0;
                        border-color:       #f0f0f0;
                        color:              #202020;   }

        &:active {      background-color:   #dddddd;
                        border-color:       #dddddd;
                        color:              #202020;   }

        &:disabled {    background-color:   $disabled-bg;
                        border-color:       $disabled-border;
                        color:              $disabled-clr;   }
    }

    &.alert {
        background-color: #D71F1F;
        border-color: #D71F1F;
        color: #f0f0f0;
        
        &:hover {       background-color:   #AE1818;
                        border-color:       #AE1818;
                        color:              #f0f0f0;   }

        &:active {      background-color:   #960d0d;
                        border-color:       #960d0d;
                        color:              #f0f0f0;   }

        &:disabled {    background-color:   $disabled-bg;
                        border-color:       $disabled-border;
                        color:              $disabled-clr;   }
    }

    &.secondary {
        background-color: #e0e0e0;
        border-color: #dfdfdf;
        color: #202020;
        
        &:hover {       background-color:   #d6d6d6;
                        border-color:       #cecece;
                        color:              #000;   }

        &:active {      background-color:   #c0c0c0;
                        border-color:       #c0c0c0;
                        color:              #000;   }

        &:disabled {    background-color:   $disabled-bg;
                        border-color:       $disabled-border;
                        color:              $disabled-clr;   }
    }

    &.done {
        background-color: $disabled-bg;
        border-color: $disabled-border;
        color: #0D991B;
        svg {font-size: 1.4em}
    }

    &.error {
        background-color: $disabled-bg;
        border-color: $disabled-border;
        color: #D71F1F;
        svg {font-size: 1.4em}
    }
    
    &.loading {
        background-color: $disabled-bg;
        border-color: $disabled-border;
        color: #999999;
        svg {
            font-size: 1.2em;
            animation: rotation360 infinite 1.6s linear;
        }

        @keyframes rotation360 {
            0% { transform: rotate(0deg) }
            100% { transform: rotate(360deg) }
        }
    }
}