.card-product {
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 4px 4px 6px -2px #0000002f;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 250px;
    padding: 12px 20px 16px;

    .txt-product { align-self: flex-end }
    .txt-category { font-size: 0.9em; font-weight: 300; }
    .txt-price { align-self: flex-end; font-size: 1.2em; font-weight: 600; }
    .txt-barcode { font-size: 0.7em; color: #9c9c9c; font-weight: 400; }
}