@use "../var";

.input-container {
    label, input, select, option  { all: unset }

    display: flex;
    flex-direction: column;
    gap: 2px;

    label { margin: 0 4px }


    input, select, option {
        background-color: var.$white-1;
        border-radius: 6px;
        color: var.$black-0;
        padding: 5px 7px;

        &::placeholder { color: var.$grey-1; }
    }

    select {
        cursor: pointer;
        &:focus { border-radius: 6px 6px 0 0 }
    }
}