@use "../var";

.spinner-loader {
    align-self: center;
    animation: rotation360 1s infinite linear;
    font-size: 1.4em;
}

.done-svg {
    align-self: center;
    color: var.$done;
    font-size: 1.4em;
}

.container-error {
    color: var.$error;
    display: flex;

    svg {font-size: 1.6em; align-self: center}

    p {align-self: center; margin-right: 4px}
}

@keyframes rotation360 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

