@use "../var";

.loader-component {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

    height: 200px;
    width: 200px;

    align-items: center;
    display: flex;
    flex-direction: column;


    .spinner {
        font-size: 3em;
        animation: rotation360 1.6s infinite linear;
    }

    .error {
        font-size: 3em;
        color: var.$error;
    }

    p {
        all: unset;
        font-size: 2em;
        font-weight: 600;

        &.error { color: var.$error }
    }
}

@keyframes rotation360 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}