@use "../var";

.screen-cash-register {
    ul, p { all: unset }

    display: grid;
    grid-template-columns: 1fr 16em;
    height: calc(100vh - var.$bottom-bar);

    .section-shopping-cart {
        background-color: var.$white-0;

        .product-item {
            border-bottom: 1px #b3b3b3 solid;
            display: grid;
            gap: 6px;
            grid-template-columns: 5fr 3fr 7em 7em 7em 2em;
            padding: 0.2em 0.8em;
            word-break: break-all;

            &.top {
                background-color: var.$black-2;
                color: var.$white-0;
                font-weight: 700;
                padding: 0.4em 0.8em;
            }

            p { &.center { text-align: center } }

            button {
                all: unset;
                border-radius: 6px;
                cursor: pointer;
                display: flex;
                font-size: 1.3em;
                justify-content: center;
                transition: color 0.2s, background-color 0.2s;

                background-color: var.$white-1; color: var.$grey-1;
                &:hover { background-color: var.$white-1; color: var.$red-1 };
                &:active { background-color: var.$white-2; color: var.$red-2 };
            }
        }
    }

    .section-sidebar {
        background-color: var.$black-0;
        color: var.$white-1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 20px;

        .div-button {
            gap: 10px;

            input { background-color: var.$white-0 }
        }

        .div-total {
            font-size: 1.6em;
            font-weight: 700;
        }

    }
}