$grey-0 : #979797;
$grey-1 : #808080;
$grey-2 : #5a5a5a;
$grey-3 : #3d3d3d;

$black-0 : #333333;
$black-1 : #202020;
$black-2 : #161616;
$black-3 : #030303;

$white-0 : #f0f0f0;
$white-1 : #e6e6e6;
$white-2 : #d4d4d4;
$white-3 : #c9c9c9;

$primary-0 : #16c9d2;
$primary-1 : #13b3bb;
$primary-2 : #119da4;
$primary-3 : #0f878d;

$red-0 : #fff;
$red-1 : #fff;
$red-2 : #fff;

$done : #43d336;
$error : #d62a2a;

$m-small: 300px;